@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #E05600;
    --secondary: #C2B51F;
    --red: #dd0505;
    --dark-red: #530f0f7e;
    --green: #33B80B;
    --dark-green: #092401b7;
    --tertiary: #31200D;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
 
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
