@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #E05600;
  --secondary: #C2B51F;
  --red: #E51919;
  --green: #33B80B;
  --tertiary: #31200D;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
 
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
